# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: d0e26259c31923229194dc988a44bec84853e6b9fdbee495ced29b1893eab7bbc7c58bfc48ee8e470a6212b0d9946572a8a932c2351fbd823592f90073df696f

test:
  secret_key_base: a238e526414c1caa5be30cdc2e37252945be131cd76d7bfebdac158d83a080b0af8f3742e66411e8e7e58d2be5d83024d3668d9454408864d16b11e5bc8e5c7e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
