<h1 class="is-size-4">Administrador nuevo</h1>

<br>

<div class="columns">
	<div class="column">
		<%= render 'form', user: @user %>
	</div>
	<div class="column"></div>
</div>

<hr>
<%= link_to 'Cancelar', admin_users_path %>
